.container{
  display: flex;
  flex-direction: column;
  color: bisque;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.tic-tac-toe{
  display: grid;
  grid-template-columns: repeat(3,100px);
}
.tic-tac-toe div{
  /* background-color: aquamarine; */
  border: 1px solid gray;
  padding:20px 10px;
  text-align: center;
}
.icon{
  color:white;
  font-size: 20px;
}
.show button{
  padding: 10px;
  font-size: 15px;
  margin: 20px;
}